.activities-chart {
    height: 95%;

    .text {
        margin-bottom: 5%;

        display: flex;
        justify-content: space-between;

        &__title {
            margin-top: 3%;
            margin-bottom: 3%;
            margin-left: 4%;

            font-size: 15px;
            font-weight: 500;
        }
        &__legend {
            display: flex;
            margin-right: 26px;
    
            li {
                display: flex;
                align-items: center;
    
                span {
                    margin-right: 8px;
                    margin-left: 35px;
    
                    font-size: 25px;
                }
                .black-dot {
                    color: $color-darkgray;
                }
                .red-dot {
                    color: $color-red;
                }
                p {
                    font-size: 14px;
                    color: $color-gray;
                }
            }
        }
    }
    

    &__graph {
        margin-left: 0px;
        //margin-bottom: 2%;

        .recharts-surface text {
            font-size: 14px;
            fill: $color-gray;
        }
        .recharts-surface > g:nth-child(6) text {
            fill: $color-red;
        }

        .recharts-bar-kilos path {
            fill: $color-darkgray;
        }
        .recharts-bar-calories path {
            fill: $color-red;
        }

        .custom-tooltip {
            width: 45px;
            height: 63px;
        
            background-color: $color-red;
        
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        
            font-size: 10px;
            color: $color-white;
        }
    }
}

