.nutrition-container__tile {
    min-width: 258px;
    min-height: 124px;
    display: flex;
    align-items: center;

    &__icon {
        width: 60px;
        height: 60px;
        margin-left: 32px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 6px;
    }
    .caloriesIcon {
        background-color: rgba(255, 0, 0, 0.09);
    }
    .proteinsIcon {
        background-color: rgba(75, 185, 255, 0.1);
    }
    .carbohydratesIcon {
        background-color: rgba(255, 205, 10, 0.20);
    }
    .fatsIcon {
        background-color: rgba(255, 80, 200, 0.1);
    }

    &__text {
        margin-left: 24px;

        &-value {
            font-size: 20px;
            font-weight: 600;

            margin-bottom: 2px;
        }

        &_type {
            font-size: 14px;
            font-weight: 400;
        }
    }
}

