.nutrition-container__tile {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__icon {
        width: 60px;
        height: 60px;
        margin-left: 10%;
        margin-right: 8%;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 6px;
    }
    .caloriesIcon {
        background-color: rgba(255, 0, 0, 0.09);
    }
    .proteinsIcon {
        background-color: rgba(75, 185, 255, 0.1);
    }
    .carbohydratesIcon {
        background-color: rgba(255, 205, 10, 0.20);
    }
    .fatsIcon {
        background-color: rgba(255, 80, 200, 0.1);
    }

    &__text {
        margin-right: 10%;
        &-value {
            font-size: 20px;
            font-weight: 600;

            margin-bottom: 2px;
        }
        &-type {
            font-size: 14px;
            font-weight: 400;
            color: $color-gray;
        }
    }
}

