@import "./settings";

@import "./components/header";
@import "./components/verticalNav";
@import "./components/hello";
@import "./components/activities";
@import "./components/sessions";
@import "./components/performance";
@import "./components/score";
@import "./components/nutritionTile";

@import "./pages/Dashboard.scss";
@import "./pages/LoadingPage.scss";
@import "./pages/ErrorPage.scss";

